.imag1 {
  width: 15.5rem;
  height: 32.25rem;
  background-color: #F29D90;
  border-radius: 0.5rem;
  margin-top: 5rem;
  margin-left: 12rem;
}

.img2 {
  width: 200px;
  padding-top: 10.55rem;
  padding-left: 3rem;
}

.img1 {
  width: 270px;
  padding-top: 10.5rem;
  padding-right: 1.7rem;
}

.imag2 {
  width: 15.5rem;
  height: 32.25rem;
  background-color: #F29D90;
  border-radius: 0.5rem;
  margin-left: 50.8rem;
  margin-top: -32.25rem;
}

.imag3 {
  margin-left: 29rem;
  margin-top: -23.4rem
}

.img3,
.img4 {
  width: 320px;
  border-radius: 0.5rem;
}

.imag4 {
  margin-left: 29rem;
  margin-top: 18.1rem;

}

.word1 {
  margin-top: -25rem;
  margin-left: 32.5rem;
  color: #484848;
  font-style: normal;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.2275rem;
}

.word2 {
  margin-top: -4.5rem;
  margin-left: 30rem;
  font-family: Poppins;
  font-style: normal;
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -0.64281rem;
}

.btn {
  color: white;
  border-radius: 0.625rem;
  background: #E04342;
  box-shadow: none;
  border: none;
  margin-top: -1rem;
  width: 10.9375rem;
  height: 3rem;
  margin-left: 34rem;
  cursor: pointer;
}

.disc {
  margin-top: 5rem;
  width: 95%;
  margin-left: 2rem;
  height: 6rem;
  border-radius: 1rem;
  margin-bottom: 5rem;

}

.banner {
  height: 6rem;
  width: 75rem;
  background: #E04342;
  border-radius: 1rem;
  margin: 3rem auto 0;
  display: flex;
  color: white;
}

.left {
  display: flex;
  flex-direction: column;
}

.first,
.get {
  margin: -0.3rem;
}

.first {
  padding-left: 8rem;
  padding-top: 1.6rem;
}

.get {
  font-size: 1.7rem;
  padding-left: 8.7rem;
}

.right {
  display: flex;
  color: white;
  gap: 7rem;
  margin-left: 12rem;

}

.data {
  text-align: center;
  width: 6rem;
  height: 5rem;

}

.sec,
.dis,
.buy {
  text-align: center;
  margin: -0.4rem;
}

.sec {
  padding-top: 0.8rem;
  font-size: 0.8rem;
  letter-spacing: 0.14rem;
  font-weight: 500;

}

.dis {
  font-size: 1.7rem;
  font-weight: 900;
}

.buy {
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
}

.code {
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 0.09rem;
}



@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  .top {
    margin-top: -3rem;
    height: 16rem;
  }

  .imag1 {
    width: 20%;
    height: 10rem;

    margin-left: 2%;
  }

  .imag1,
  .imag2,
  .imag3,
  .img4,
  .imag4 {
    border-radius: 0px;
  }

  .img12 {
    display: flex;
  }

  .img2 {
    padding-top: 1.9rem;
    padding-left: 0.2rem;
    width: 60px;
  }


  .img1 {
    width: 110px;
    margin-top: 3.1rem;
    margin-left: 0rem;
    padding-top: 0rem;
    padding-right: 2.4rem;
    height: 110px;
    padding-bottom: 0rem;
  }

  .imag2 {
    width: 20%;
    height: 10rem;
    /* margin-left: 15rem; */
    margin-left: 56%;
    margin-top: 5rem;
  }

  .imag3 {
    margin-left: 1.1rem;
    margin-top: 0rem;
  }

  .imag4 {
    margin-left: 1.1rem;
    margin-top: 0;
  }

  .img3,
  .img4 {
    width: 56%;
    height: 4rem;
    /* margin-left: 4.2rem; */
    margin-left: 19.7%;
  }

  .img3 {
    margin-top: -17.8rem;
  }

  .img4 {
    margin-top: -8.8rem;
  }

  .word1 {
    display: none;
  }

  .word2 {
    display: none;
  }

  .text {
    width: 20vh;
    position: absolute;
    margin-left: 30%;
  }


  .btn {
    margin-left: 35%;

    margin-top: 9.5rem;
    font-size: 0.4rem;
    width: 3rem;
    height: 1rem;
  }

  .banner {
    display: none;
  }



}

/* Continue with your existing styles */