
.main2 {
    margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

  .round {
    border: 1px #eee solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    width: 82px;
    height: 82px;
  }
  
  .round .tick {
    border: 3px #4a00e0 solid;
    border-radius: 50%;
    padding: 15px;
    padding-left: 15px;
    width: 64px;
    height: 64px;
    stroke-width: 1.5px;
    color: #4a00e0;
  }
  
  .title {
    font-family: Inter, sans-serif;
    margin-top: 24px;
    font-size: 30px;
    font-weight: 520;
  }
  
  .text {
    font-family: Inter, sans-serif;
    margin-top: 24px;
  }
  
  .btn{
    margin-top: 1rem;
    height: 3rem;
    width: 10rem;
    background-color: rgb(240, 92, 92);
    color: white;
    border-radius: 0.5rem;
    border: none;
  }

  
/* Media query for smaller screens */
@media (max-width: 767px) {
  .main2 {
      padding: 8px; /* Adjust padding for smaller screens */
  }

  .round {
      width: 60px; /* Adjust width for smaller screens */
      height: 60px; /* Adjust height for smaller screens */
  }

 .tick {
      width: 48px; /* Adjust width for smaller screens */
      height: 50px; /* Adjust height for smaller screens */
  }

  .title {
      font-size: 24px; /* Adjust font size for smaller screens */
  }

  .text {
      margin-top: 16px; /* Adjust margin for smaller screens */
  }

  .btn {
      width: 9rem;
      height: 3.5rem; /* Adjust width for smaller screens */
  }
}