.main {
    margin-top: 2rem;
    text-align: center;
}


.text {
    margin-top: 24px;
}

.icon {
    size: 4rem;
    border: 1px solid #393838;
    border-radius: 50%;
    padding: 24px;
    width: 6rem;
    margin-left: 32rem;
}

@media (max-width: 480px) {
    .main {
        margin-top: 20%;
        height: auto;
        overflow-x: hidden;
        margin-bottom: 30%;
        overflow-y: hidden;
    }


    .icon {
        margin-left: 36%;
    }
}